
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

section.hero {
    background: #15F189 url("../images/bg.png") center/cover no-repeat;
    max-width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container {
    width: 100%;
    max-width: 114rem;
    height: 100%;
    /* margin: 0 auto;
    padding: 0 2.2rem; */
}

.blurred-shapes-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.blurred-wrapper {
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 225, 255, .1);
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2500;
}

header {
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

nav {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    margin-left: 2.4rem;
    font-size: 2.5rem;
}

.menu-toggle {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 2.4rem;
    cursor: pointer;
    z-index: 2500;
}

@media screen and (min-width: 400px) {
    .menu-toggle {
        right: 4rem;
    }
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 7rem;
    width: 100%;
    text-align: center;
    height: 30vh;
    background-color: #f1f1f1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #010101;
    z-index: 2550;
    transform: translateX(-200%);
    transition: transform 0.5s;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2500;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
    transition: opacity .5s;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(-100%);
}

.nav-item {
    border-bottom: 2px solid rgba(0,0,0,.6);
}

.nav-link {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

/* .nav-link:hover {

} */

.hero-container {
    padding: 0 2.4rem;
    min-height: 17.5rem;
    width: 100%;
    display: flex;
    flex-basis: calc(100% / 2);
}

/* hero content  */

.box.one {
    margin-top: -4.5rem;
    max-width: 100%;
    z-index: 1500;
}

.headline {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.8rem;
    text-transform: uppercase;
    color: #f1f1f1;
}

.sub-headline {
    font-size: 1.8rem;
    font-family: "Mukta", sans-serif;
    font-weight: normal;
    line-height: 2rem;
    color: #f1f1f1;
    opacity: .9;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.hero-container form {
    margin-top: .5rem;
}

.hero-container input {
    outline: none;
    border: 2px solid #15F189;
    border-radius: 1.5rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.hero-container input[type=email] {
    font-size: 1.4rem;
    line-height: 2rem;
    width: calc(100% - .65rem);
}

.hero-container input[type=button] {
    width: 7rem;
    text-transform: uppercase;
    background-color: #21244F;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: rgba(241, 241, 241, .9);
    font-size: 1.4rem;
    font-weight: normal;
    cursor: pointer;
    margin-left: -7rem;
    border: 1px solid #15F189;
}

.hero-container input[type=button]:hover {
    opacity: .97;
    transition: opacity .5s;;
}

.circle {
    border-radius: 100%;
    background-color: hsla(300, 100%, 94%, 0.1);
    backdrop-filter: blur(.01rem);
    z-index: 1000;
    display: none;
}

.circle.one {
    width: 19rem;
    height: 19rem;
    position: absolute;
    left: -6.6rem;
    bottom: 5.3rem;
}

.circle.two {
    width: 29rem;
    height: 29rem;
    position: absolute;
    bottom: -5.2rem;
    right: -6.9rem;
}

.box.two {
    display: none;
}

@media screen and (max-width: 320px) {

    .circle.one {
        bottom: 3rem;
    }

    .circle.two {
        width: 25rem;
        height: 25rem;
        bottom: -4rem;
        right: -5.5rem;
    }
}


@media screen and (min-width: 768px) {

    section.hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: calc(100vh - 10rem);
        margin: 0 auto;
    }

    .hero-container {
        padding: 0;
        max-height: 60rem;
        width: 100%;
        display: flex;
        margin-top: 4rem;
    }
    
    .blurred-shapes-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: unset;
    }

    .box.one {
        align-self: center;
        margin: 0;
        margin-right: 10%;
    }

    .box.two {
        display: block;
        max-height: 60rem;
        width: 50%;
        position: absolute;
        bottom: 0;
        right: -5.5rem;
    }
    
    /* Shapes styling */
    .rect {
        width: 37rem;
        height: 23.5rem;
        border-radius: 10px;
        background-color: rgba(255, 225, 255, .1);
        backdrop-filter: blur(1rem);
    }
    
    .rect.two {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .rect.one {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .circle {
        width: 370px;
        height: 370px;
        border-radius: 100%;
        background-color: rgba(255, 225, 255, .1);
        backdrop-filter: blur(1rem);
        display: block;
    }
    
    .circle.one {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .circle.two {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    

    .blurred-wrapper {
        max-height: 700px;
        width: 940px;
        margin: 2.5rem 4rem;
        padding: 3rem;
        border-radius: 10px;
        backdrop-filter: blur(1.5rem);
    }

    .nav {
        height: 9rem;
    }

    .nav::before {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .logo {
        font-size: 4rem;
        margin-left: 3.1rem;
    }

    .nav-list {
        position: absolute;
        left: unset;
        top: 0;
        right: 2rem;
        width: 50%;
        height: 9rem;
        padding: 0;
        text-align: justify;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        transform: none;
        transition: none;
        background-color: unset;
        color: white;
    }

    .nav-link:hover {
        transition: all .5s;
        color: #15F189;
    }

    .cta-btn {
        border: 1px solid #fff;
        padding: .5rem 1rem;
        border-radius: 2rem;
    }

    .cta-btn:hover,
    .cta-btn:active {
        border-color: #15F189;
        color: #15F189;
        transition: all .5s;
    }

    .nav-item {
        border: none;
    }
    
    /* Hero content */
    
.headline {
    font-size: clamp(3.5rem, 4rem, 5rem);
    line-height: 6rem;
    letter-spacing: .05rem;
}

.sub-headline {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.hero-container form {
    margin-top: .5rem;
}

.hero-container input {
    border-radius: 1.5rem;
    padding: 1.5rem;
    font-size: 1.8rem;
}



}